{
  "presets": [
    "react", // for jsx transpilation | it also removes flow annotations
    [
      "env",
      {
        // this is like a prefixer for javascript, it handles the 'es' version needed
        "targets": {
          "browsers": "last 2 versions"
        },
        "loose": true, // avoids crazy edge cases stuff in es6 and further
        "modules": false // delegate module handling to webpack
      }
    ]
  ],
  "plugins": [
    "react-hot-loader/babel",
    "babel-plugin-syntax-dynamic-import", // Lets babel undesrtands dynamic import syntax
    "babel-plugin-dynamic-import-webpack", // Translate imports into require.ensure
    "babel-plugin-transform-class-properties"
  ],
  "env": {
    /* This is to allow node to understand es6 modules for jest test */
    "test": {
      "plugins": ["babel-plugin-transform-es2015-modules-commonjs"]
    },
    /* This is to allow node to understand es6 modules for Node.js */
    "server": {
      "plugins": ["babel-plugin-transform-es2015-modules-commonjs"]
    }
  }
}
