{
    "presets": [
        "react", // for jsx transpilation
        ["env",{ // this is like a prefixer for javascript, it handles the 'es' version needed 
            "targets": {
                "browsers": "last 2 versions"
            },
            "loose": true, // avoids crazy edge cases stuff in es6 and further
            "modules": false // delegate module handling to webpack
        }]
    ]
}